*{
    padding: 0;
    margin: 0;
}

.CardBox{
    display: flex;
    flex-direction: column;
    background-color: rgba(62, 174, 174, 0.55);
    width: 80%;
    max-width: 200px;
    min-width: 100px;  
    padding: 10px;
    padding-bottom: 20px;
    margin: 4px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.411);  
    border: 0.5px solid rgba(0, 0, 0, 0.499);  
}

.CardBox:hover{
    border-color: blanchedalmond;
    cursor: pointer;
}

#CardBox2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(75, 150, 125, 0.06);
    margin-bottom: 15px;
}

#ProfileImageBox{
    display: flex;
    justify-content: center;
}

#ProfileImage{
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 1px;
    padding: 1px;
}

#nameBox{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    text-align: center;
}

#SeperateLine{
    margin-bottom: 5px;
    background-color: rgb(91, 78, 134);
    height: 2px;
}

.DescriptionBox div{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}